* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #2d3047ff;
    --second-color: #f5d0c5ff;
    --third-color: #f7ebe8ff;
    --fourth-color: #828e82ff;
    --fifth-color: #75704eff;    
}

body {
    color: var(--fourth-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Apply styles to header and footer */
header {
    padding: 15px 25px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position:  -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;    
}

header h1 {
    font-weight: lighter;
    font-size: 35px;
    color: var(--third-color);
    margin: 0;
    text-shadow: 0 0 15px rgba(225,225,225, 0.5);
    
}
header a {
    text-decoration: none;
    color: var(--third-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 40px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(225,225,225, 0.5);        
}

header nav ul li span {
    border-bottom: 2px solid var(--third-color);
    padding-bottom: 1px;
} 

header nav ul li a:hover {
    background: var(--third-color);
    color: var(--first-color);
    border-radius: 20px;
    text-shadow: none;
}

footer {
    background: var(--first-color);
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--fourth-color);
    font-size: 20px;
    margin: 0;
    font-weight: lighter;
}

section {
    padding: 40px;
}

/* header and footer styles end */

/* Hero section styles start */

.hero {    
    width: auto;
    height:auto;
    background-size: cover;        
    background-position: center center;
    background-image: url("../assets/stockphoto.JPG");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
}

.hero-tagline {       
    margin: 3.5%;
    color: var(--third-color);
    font-size: 25px;
    line-height: 1.2;
    display: inline;
    align-items: normal;
}

.hero-tagline h2 {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 25px;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

/* hero styles end */

/* content styles start */
    /* general rules for content */

.section-title { 
    font-size: 60px;
    margin-left: 10px;
    color: var(--first-color);
    font-weight: lighter;
    text-align: center;

}

.intro {
    display: flex;
    background-color: var(--fourth-color);
}

.content-text {
    width: auto;
    text-align: left;
    display: flex;
    margin-left: 10%;
    color: var(--third-color);
    font-size: 18px;
    line-height: 1.2;
    border-left: 5px solid var(--first-color);
    padding: 0 10% 0 10%;
}
/* content section end */

/* work section start */
.work {
    display: flex;
    background-color: var(--fourth-color)
}
.work-grid-wrapper {
    margin-left: 10%;
    display: flex;
    width: 100%;    
    justify-content: center;
    border-left:  5px solid var(--first-color);
}

.work-grid-container {
    margin: auto;
    background: var(--fourth-color);    
    display: grid;
    /* repeat(iterator, size) */
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 200px);        
    column-gap: 15px;
    row-gap: 15px;
    font-size: 1.2rem;
}

.work-grid-item {        
    font-weight: bold;
    padding: 15px 0;
    border: 2px solid var(--first-color);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
    background-size: cover;

}

.work-grid-item div {
    color: var(--third-color);
    font-size: 20px;
    background-color: var(--first-color);
    background-color: rgba(45, 48, 71, 0.5)
}

.work-grid-item.Run-buddy {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    flex-wrap: wrap;  
    background-image: url(../assets/runbyddy.jpg);
    color:  
}

.work-grid-item.Horiseon {
    background-image: url(../assets/01-html-css-git-homework-demo.png);    
    
}

.work-grid-item.Hello-World {
    background-image: url(../assets/1_KUy_KKExZrSpBuv9XfyBgA.png);    
    
}

.work-grid-item.Calculator {
    background-image: url(../assets/IMG_3863.jpg);
    
}

.work-grid-item.Calender {
    background-image: url(../assets/bzblog-multiple-calendar-feature.jpg);
}

.work-grid-item.Bookfinder {
    background-image: url(../assets/readingmountains.jpg);
}
/* work section end */

.contact-me {
    display: flex;
    background-color: var(--fourth-color)
}